@model Demo_QuanLiSieuThi.Models.EF.Employee
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Css/Login.css" />
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">My market</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary();
    <div class="container">
        <label for="username"><b>Tên đăng nhập:</b></label>
        @Html.TextBoxFor(t => t.UserName, new { placeholder = "Enter User Name" })

        <label for="psd"><b>Mật khẩu:</b></label>
        @Html.PasswordFor(t => t.Password, new { placeholder = "Enter password" })

        <label>
            <input type="checkbox" checked="checked" name="remember"> Nhớ mật khẩu
        </label>

        <button type="submit">Đăng nhập</button>
    </div>

}


